body
    padding: 0
    margin: 0
    font-family: 'Arvo', 'Prompt', 'Roboto', sans-serif
    font-size: 20px
    color: #000

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

p
    padding: 0
    margin: 0

a
    text-decoration: none

ul, li
    display: block
    padding: 0
    margin: 0

fieldset
    border: none

.container
    width: 1300px
    margin: 0 auto

.header
    &_box
        display: flex
        justify-content: space-between
        align-items: center
        height: 125px
    &_flag
        background-image: url("../img/flag.svg")
        width: 139px
        height: 153px
        z-index: 1000
        .flag_text
            font-size: 13px
            font-family: 'Roboto'
            font-weight: 700
            letter-spacing: -0.33px
            padding: 28px 14px 0
            text-align: center
        .flag_title
            font-size: 30px
            font-weight: 900
            letter-spacing: 0px
            color: #003E84
            text-transform: uppercase
            text-align: center
    &_menu
        width: 677px
        .main_menu
            display: flex
            justify-content: space-between
            align-items: center
            &_item
                a
                    height: 100%
                    font-style: 17px
                    color: #000000
                    font-family: Prompt, sans-serif
                    letter-spacing: 0px
                    height: 100%
                    &:hover
                        border-bottom: 5px solid #FFBC21
    &_contacts
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 201px
        font-family: Prompt, sans-serif
        .contacts_call
            color: #000
            font-size: 35px
        .contacts_mail
            color: #000
            font-size: 14px
            letter-spacing: 0px
            border-bottom: 1px solid #FFBC21

.carousel
    position: relative
    &__ineer

.carousel__inner__item
    position: absolute
    top: 155px
    h2
        color: #003E84
        font-size: 30px
        font-weight: 900
        text-transform: uppercase
        width: 490px
    img
        margin: 10px 0 25px
    p
        width: 350px
        font-size: 17px
        font-family: Prompt, serif
        margin-bottom: 40px
    button
        width: 287px
        height: 60px
        font-size: 17px
        border: none
        font-family: Prompt, serif
        position: relative
        background:  #FFBC21
        display: flex
        align-items: center
        padding-left: 30px
        transition: all ease 0.3s
        img
            z-index: -1 
            margin: 0
            margin-left: 10px

        &:before 
            position: absolute
            content: ""
            background-image: url('../img/arrow.svg')
            width: 19%
            height: 100%

            top: 0
            left: auto
            right: 0
            z-index: 1
            transition: all 300ms ease


        &:hover 
            cursor: pointer
            padding-left: 40px
            img
                z-index: 10
            &:before 
                position: absolute
                content: ""
                width: 0
                height: 100%

                top: 0
                right: 0
                z-index: 1

.slick-dotted.slick-slider
    margin-bottom: 0
.slide_btn
    background: red


.slick-dots 
    width: 308px
    height: 70px
    background: red
    left: 50%   
    transform: translatex(-50%)
    bottom: 43px
    box-shadow: 0px 3px 16px #8c8c8c
    display: flex !important
    align-items: center
    justify-content: center

.slick-dots li button:before
    color: #B2B2B2
    font-size: 12px


.slick-prev, .slick-next
    // top: 0
    // left: 50%
    // transform: translatex(-50%)
    

.slick-next
    top: -50%
    bottom: 30px
    background: red
    &::before
        display: none


















.work
    background: #F6F6F6
    height: 123px
    &_box
        width: 100%
        display: flex
        justify-content: space-around
        height: 123px
    &_block
        width: 332px
        display: flex
        justify-content: center
        align-items: center
        &_title
            text-align: center
            font-weight: 700
            font-size: 34px
            letter-spacing: 0px
            color: #003E84
            text-transform: uppercase
            margin-right: 15px
            img
                margin-right: 15px
        &_info
            text-align: left
            font-size: 16px
            letter-spacing: 0px
            font-family: Prompt, sans-serif


.catalog
    &__title
        margin-top: 112px
        font-size: 36px
        text-align: center
        letter-spacing: 0px
        font-weight: 400
        margin-bottom: 14px
    p.catalog__information
        text-align: center
        font-size: 16px
        font-family: Roboto 
        line-height: 25px
        font-weight: 400

    &__tabs
        margin-top: 54px
        list-style-type: none
        display: flex
        justify-content: center
        align-items: center
    &__tab
        width: 265px
        height: 70px
        color: #6b6b6b
        box-shadow: 0px 3px 16px #cacaca
        letter-spacing: 0px
        font-size: 16px
        text-align: center
        cursor: pointer
        transition: 0.5s all
        color: #000
        display: flex
        align-items: center
        justify-content: center
        &:hover
            box-shadow: 0px 3px 16px #8c8c8c
            border: none
        &_active
            background: #003E84 
            color: #fff
            border: none
            box-shadow: none
            z-index: 1000

    &__content
        margin-top: 40px    
        margin-bottom: 112px
        display: none
        justify-content: space-between
        flex-wrap: wrap
        &_active
            display: flex
    &-item
        width: 431.3px
        min-height: 311px
        border: 1px solid #E2E2E2
        overflow: hidden
        &__main-block
            display: flex
            align-items: center
            justify-content: space-between
            margin: 20px 10px 0 54px
        &__title
            font-size: 24px
            letter-spacing: 0px
            font-weight: 400
        &__text
            font-size: 16px
            font-weight: 400
            line-height: 35px
            width: 349px
            margin: 20px 10px 0 54px
            span
                border-bottom: 1px solid #FFBC21
    &__list
        position: relative
        width: 50%
        margin-left: 20px
        transform: translateX(0%)
        padding-right: 20px
        transition: 0.5s all
        padding-left: 19px
        margin-bottom: 0
        list-style-type: none
        &_active
            transform: translateX(-100%)
            margin-left: 0px
        &__back
            position: absolute
            bottom: 0
            left: 50%
            transform: translateX(calc(-50% - 19px))
            display: block
            font-size: 14px
            font-weight: 500
            text-decoration: underline
            text-transform: uppercase
            &:hover
                color: red
    &__wrapper
        display: flex
        width: calc(200% + 40px)
    &__content
        width: 100%
        margin-right: 0px
        transform: translateX(-100%)
        transition: 0.5s all
        &_active
            transform: translateX(0%)
            margin-right: 20px

.footer
    background: #003E84
    &_logo
        position: relative
        &_text
            margin-top: 78px
        &_bg
            position: absolute
            left: -160px

    &_information
        margin-top: 72px
        margin-bottom: 100px
        display: flex
        
        &_block
            width: 306px
            h6
                font-size: 20px
                color: #FFBC21
                margin-bottom: 30px
                font-family: Prompt, sans-serif
                font-weight: 400
            p
                font-size: 16px
                font-family: Roboto
                color: #ffffff
                line-height: 40px
            &:nth-child(2)
                margin-top: 60px
                width: 286px
                margin-left: 90px
                margin-right: 316px
            address
                font-size: 16px
                font-family: Roboto
                color: #ffffff
                margin-bottom: 30px
                font-style: normal
                line-height: 30px
    &_contacts
        align-items: flex-start
        a.contacts_call
            color: #FFBC21
            margin-bottom: 6px
            font-weight: 100
        a.contacts_mail
            color: #fff
            font-weight: 100
            margin-bottom: 48px
        button.footer_contacts_btn
            width: 282px
            height: 50px
            font-size: 15px
            font-family: Roboto
            background: none
            color: #ffffff
            display: flex
            align-items: center
            justify-content: center
            border: 1px solid #ffffff3d
            border-radius: 29px
            img
                margin-right: 14px
    &_credits
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 50px
        &_info
            font-size: 14px
            color: #5987BB
            &:nth-child(3)
                display: flex
                p
                    margin-right: 11px
                    width: 120px

                 




